Repository FerdinandWohlstein/infrastructure-live: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, trivy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^kubernetes/.*sops\.yaml$ # Skip encrypted files
      - id: check-added-large-files

  # 1. Ansible Linting
  - repo: local
    hooks:
      - id: ansible-lint
        name: Ansible-lint
        entry: ansible-lint
        language: system
        files: \.(yaml|yml)$
        exclude: ^kubernetes/|.*\.sops\.yaml$

  # 2. Kubernetes Linting (Mirroring your CI)
  - repo: https://github.com/stackrox/kube-linter
    rev: v0.8.2
    hooks:
      - id: kube-linter
        args: ["kubernetes/", "--config", ".kube-linter.yaml"]
        exclude: .*\.sops\.yaml$

  # 3. Security Scanning (IaC)
  - repo: local
    hooks:
      - id: trivy
        name: Trivy Config Scan
        entry: trivy config kubernetes/
        language: system
        pass_filenames: false
        files: ^kubernetes/.*\.yaml$

  # 4. Secret Detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: .*\.sops\.yaml$ # Ignore SOPS-encrypted files

  # 5. Terraform
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.1
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
        args:
          - --args=-backend=false

chore: Add Terraform lock files for modules and update pre-commit terraform_validate arguments.
  .pre-commit-config.yaml
Due: ansible-lint

Revise component mapping matrix formatting
  compliance/iso27001-mapping.md
Due: none

feat: add LGTM observability stack (Loki, Grafana, Tempo, Mimir)
  .gitignore
  ansible/inventory/group_vars/all/all.yml
  ansible/inventory/group_vars/all/secrets.sops.yaml
  ansible/inventory/hosts.yml
  ansible/roles/k3s/tasks/argocd.yml
  ansible/rotate_certs.yml
  kubernetes/apps/blocky/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack.yaml
  kubernetes/apps/observability/loki.yaml
  kubernetes/apps/observability/mimir.yaml
  kubernetes/apps/observability/namespace.yaml
  kubernetes/apps/observability/promtail.yaml
  kubernetes/apps/observability/tempo.yaml
  kubernetes/apps/test-app/nginx.yaml
  kubernetes/kubernetes-secrets.sops.yaml
Due: ansible-lint, trivy

feat: Implement Blocky DNS ad-blocker, add dedicated Promtail, update Loki and Prometheus configurations, and introduce new CKA learning and observability documentation.
  kubernetes/apps/blocky/blocky.yaml
  kubernetes/apps/blocky/namespace.yaml
  kubernetes/apps/blocky/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack.yaml
  kubernetes/apps/observability/loki.yaml
  kubernetes/apps/observability/mimir.yaml
  kubernetes/apps/observability/promtail.yaml
  kubernetes/bootstrap/root.yaml
Due: trivy

Update kubernetes/apps/observability/loki.yaml
  kubernetes/apps/observability/loki.yaml
Due: trivy

fix: yaml order
  ansible/argocd.sops.yaml
Due: none

fix: wireguad mtu causing issues
  ansible/roles/wireguard/defaults/main.yml
  ansible/roles/wireguard/templates/wg0.conf.j2
Due: ansible-lint

fix(wireguard,k3s): wireguard + k3s networking and TF cleanups (squashed)
  ansible/argocd.sops.yaml
  ansible/inventory/group_vars/all/all.yml
  ansible/inventory/group_vars/all/secrets.sops.yaml
  ansible/inventory/hosts.yml
  ansible/roles/k3s/tasks/configure.yml
  ansible/roles/wireguard/templates/wg0.conf.j2
  docs/POST_SETUP.md
  terraform/k3s-cluster/providers.tf
  terraform/k3s-cluster/tfplan
  terraform/k3s-cluster/variables.tf
  terraform/k3s-cluster/versions.tf
  terraform/modules/compute-node/.terraform.lock.hcl
  terraform/modules/compute-node/main.tf
  terraform/modules/compute-node/variables.tf
  terraform/modules/security-group/.terraform.lock.hcl
  terraform/modules/security-group/main.tf
Due: ansible-lint

feat: enhance infrastructure setup with dynamic Docker repo handling and bootstrap script
  .gitignore
  ansible/inventory/hosts.yml
  ansible/roles/common/tasks/packages.yml
  ansible/site.yml
  terraform/k3s-cluster/main.tf
  terraform/k3s-cluster/variables.tf
  terraform/modules/compute-node/bootstrap.sh
  terraform/modules/compute-node/main.tf
  terraform/modules/compute-node/variables.tf
Due: ansible-lint

Update terraform/k3s-cluster/README.md
  terraform/k3s-cluster/README.md
Due: none

Update README.md
  README.md
Due: none
